<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="schedule" type="ScheduledWorker.Library.Configuration.ScheduleSection, ScheduledWorker.Library.Configuration"/>
  </configSections>
  
  <schedule interval="5">
    <daily>
      <task time="22:35:52" run="DoSomethingElseTask"/>
    </daily>
    <weekly>
      <task day="Tuesday" time="12:00" run="DoSomethingTask"/>
    </weekly>
    <monthly>
      <task month="March" day="1" time="13:00" run="DoSomethingTask"/>
    </monthly>
    <runNow>
      <!--<add run="DoSomethingTask" />-->
    </runNow>
  </schedule>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
